.nav-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    font-weight: bold;
    /*text-shadow: 3px 3px 3px gray;*/
    /*padding: 5px 20px;*/
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 9999;
    left: 0;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

.nav-area > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
}

.nav-area li {
    margin-right: 1em;
    line-height: 30px;
}

    .nav-area li a {
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
    }

.nav-area li a:hover {
    /* text-decoration: underline;  */
    transform: scale(1.2); 
    color:white;
    /* background-color: #555;
    border-radius: 25px; */
}

.nav-area > form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.nav-area input {
    flex: 1;
    border-radius: 25px;
    border: 0;
}

.select-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    width: 20%;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
}


.select-box:focus {
    outline: none;
}


.nav-area .menu_icon {
    display: none;
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.nav-area .search_icon {
    display: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.home_icon {
    display: none;
    font-weight: bold;
    font-size: xx-large;
}


@media screen and (max-width: 1000px) {
    .nav-area .menu-item, .search{
        display: none;
      }

      .nav-area .home-btn {
          float: left;
      }

      .nav-area .menu_icon {
        float: right;
        display: block;
        margin: 0 30px;
      }

      .nav-area .search_icon{
          display: block;
          float: left;
          
      }

}

@media only screen and (max-width: 768px) {

    .nav-area{
        padding: 0 0;
    }

    .nav-area .menu-item, .search{
        display: none;
      }

      .nav-area .home-btn {
          display: none;
          
      }

      .nav-area .home_icon {
          display: block;
          justify-content: flex-start;
          flex-grow: 5;
          float: left;
      }

      .nav-area .select-box {
          font-size: x-small;
          width: 100%;
      } 

      .nav-area .menu_icon {
        justify-content: flex-end;
        display: block;
        cursor: pointer;
        margin: 0 15px;
        
      }

      .nav-area .search_icon{
        display: block;
        margin-left: 10px;
        
    }
}
