
.pageBtn {
    align-items: center;
    justify-content: center;
    font-size: 80px;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

    .pageBtn:hover {
        transform: scale(1.3);
    }


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d0cece;
}
