.modal-container {
    background-color: rgba(0,0,0,0.9);
    z-index: 4;
    width: 50%;
    position: fixed;
    top: 20%;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid grey;
    left: 25%;    
}

.header {
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
    margin-bottom: 30px;
}

.header h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-weight: bold;
}

.body {
    padding: 10px 15px;
    text-align: center;
}

.input-field {
    color: white;
    padding: 30px;

}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    border-radius: 50%;
}

.close-btn:hover {
    color: #14d4db;
    
}

.btn-cancel, .btn-submit {
    background-color: rgba(0,0,0,.3);
    border: 1px solid #999;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    filter: contrast(80%);
    padding: 9px 20px 10px 20px;
}

.btn-cancel:hover, .btn-submit:hover {
    background-color: rgba(0,0,0,.7);
    /* transform: scale(1.03); */
    border: 1px solid #14d4db;
    filter: contrast(100%);
    transition: border 1s ease-out;
    /* transition: background-color 1s ease-out;
    transition: filter 0.3s ease-out; */
}

.btn-cancel:active, .btn-submit:active {
    outline: none;
}

.footer {
    float: right;
    
}

@media only screen and (max-width: 768px){
    .modal-container{
        width: 100%;
        height: auto;
        left: 0;
    }
}